<!-- <p>panel works!</p>
<div class="admin-panel">
    <div class="sidebar">
        <ul class="menu">
            <li class="menu-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="menu-item dropdown">
                <a href="#" class="dropdown-toggle">Admin</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Create Products</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#">Orders</a>
            </li>
            <li class="menu-item">
                <a href="#">Customers</a>
            </li>
        </ul>
    </div>
    <div class="content">
        
        <div class="buttons">
            <button class="login-button">Login</button>
            <button class="register-button">Register</button>
        </div>
    </div>

</div> -->

<router-outlet></router-outlet>